openapi: 3.2.0
info:
  title: Weave Reviews API
  description: The Weave API is the developer surface of the Weave customer/patient communication and payments platform for small healthcare businesses (dental, optometry, veterinary, medical, and specialty practices).
  version: '1.0'
  contact:
    name: Weave
    url: https://www.getweave.com
  license:
    name: Proprietary
    url: https://www.getweave.com/legal/terms/
servers:
- url: https://api.weaveconnect.com
  description: Weave production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Reviews
  description: Review generation, reputation, and business listings.
paths:
  /v1/provider-review:
    get:
      operationId: getProviderReview
      tags:
      - Reviews
      summary: Get provider review data
      description: Returns review data associated with a provider/location.
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Provider review data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/review/completion:
    get:
      operationId: getReviewCompletion
      tags:
      - Reviews
      summary: Get review-request completion
      description: Returns completion status/metrics for review requests sent from a location.
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Review completion data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kiosk/listing-status:
    get:
      operationId: getListingStatus
      tags:
      - Reviews
      summary: Get business listing status
      description: Returns the status of the location's online business listing.
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Listing status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    LocationId:
      name: location_id
      in: query
      required: false
      description: The Weave location (sub-account) the request is scoped to. Required on most endpoints; may alternatively be supplied via a location header.
      schema:
        type: string
        format: uuid
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth 2.0 access token issued by Weave''s OIDC provider. Authorization and token endpoints are served under https://auth.weaveconnect.com/oauth2/default (issuer https://oidc.weaveconnect.com). Present as `Authorization: Bearer ACCESS_TOKEN`.'
      flows:
        authorizationCode:
          authorizationUrl: https://auth.weaveconnect.com/oauth2/default/v1/authorize
          tokenUrl: https://auth.weaveconnect.com/oauth2/default/v1/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 bearer access token passed as `Authorization: Bearer ACCESS_TOKEN`.'
